<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="current_session_context_class">thread</property>

        <!-- BANCO DEV LOCAL
                <property name="connection.url">jdbc:mysql://localhost:3306/purchasing</property>
                <property name="connection.username">root</property>
                <property name="connection.password">root</property>
        -->
        <!-- BANCO TEST UNIMED
            <property name="connection.url">jdbc:mysql://192.168.0.216/purchasing_dev</property>
            <property name="connection.username">purchasing</property>
            <property name="connection.password">#unimed#250</property>
         -->
       <!-- BANCO PROD -->
            <property name="connection.url">jdbc:mysql://192.168.0.216/purchasing</property>
            <property name="connection.username">purchasing</property>
            <property name="connection.password">#unimed#250</property>


        <!-- Usando as configurações do C3PO para pool de conexões   -->
        <property name="connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.acquire_increment">5</property>
        <property name="hibernate.c3p0.idle_test_period">600</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.timeout">600</property>

        <!-- Configurações de debug -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="generate_statistics">true</property>
        <property name="use_sql_comments">true</property>

        <!-- Entidades -->
        <mapping class="com.purchasing.entity.Role"/>
        <mapping class="com.purchasing.entity.User"/>
        <mapping class="com.purchasing.entity.Company"/>
        <mapping class="com.purchasing.entity.CostCenter"/>
        <mapping class="com.purchasing.entity.Solicitation"/>
        <mapping class="com.purchasing.entity.Situation"/>
        <mapping class="com.purchasing.entity.SolicitationRequest"/>
        <mapping class="com.purchasing.entity.Service"/>
        <mapping class="com.purchasing.entity.TypeService"/>
        <mapping class="com.purchasing.entity.Person"/>
        <mapping class="com.purchasing.entity.JuristicPerson"/>
        <mapping class="com.purchasing.entity.NaturalPerson"/>
        <mapping class="com.purchasing.entity.Supplier"/>
        <mapping class="com.purchasing.entity.Address"/>
        <mapping class="com.purchasing.entity.State"/>
        <mapping class="com.purchasing.entity.Contact"/>
        <mapping class="com.purchasing.entity.Category"/>
        <mapping class="com.purchasing.entity.Approval"/>
        <mapping class="com.purchasing.entity.Quotation"/>
        <mapping class="com.purchasing.entity.QuotationRequest"/>
        <mapping class="com.purchasing.entity.Budget"/>
        <mapping class="com.purchasing.entity.BudgetQuotation"/>
        <mapping class="com.purchasing.entity.Contract"/>
        <mapping class="com.purchasing.entity.RenewalContract"/>
        <mapping class="com.purchasing.entity.DeliveryInformation"/>
        <mapping class="com.purchasing.entity.FormPayment"/>
        <mapping class="com.purchasing.entity.OrderRequest"/>
        <mapping class="com.purchasing.entity.PaymentInformation"/>
        <mapping class="com.purchasing.entity.Product"/>
        <mapping class="com.purchasing.entity.PurchaseOrder"/>
        <mapping class="com.purchasing.entity.Reception"/>
        <mapping class="com.purchasing.entity.RequestDelivered"/>
        <mapping class="com.purchasing.entity.Unit"/>
        <mapping class="com.purchasing.entity.PaymentInformationBudget"/>
    </session-factory>
</hibernate-configuration>